---
---

//
// IMPORTS
//
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
@import "base16-mocha";
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

// fonts
.opensans {
    font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
    @extend .base06;
    @extend .base00-background;
    @extend .opensans;
}

h1,h2,h3,h4,h5,h6 { 
    @extend .montserrat;
    @extend .base04;
	margin:15px 0;
	line-height: 1.2em;
	text-rendering: optimizelegibility;

    @include mobile {
        line-height: 1.4;
    }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}

a {
    @extend .base0E;
    text-decoration: none;
	cursor: pointer;
    &:hover, &:active {
        @extend .base08;
    }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}


p {
  margin: 15px 0;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
}

.masthead {
    @extend .base0C;
    display: block;
    float: none;

    @include mobile {
        text-align: center;
    }
}

.site-info {
    text-align: center;
    text-shadow: 0 1px 0 #222;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.site-name {
    font-size: 20px;
    a {
        @extend .base0C;
    }
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

//
// .main
//

.posts .header {
    margin-bottom: 30px;
}

.posts > .post {
  padding-bottom: 2em;
  border: none;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border: none;
}

.post {

    blockquote {
        margin: 1.8em .8em;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-size: 22px;
        font-style: italic;
    }

    .entry {
        font-size: 1.1em;
        line-height: 1.7em;
    }
}

.wrapper-footer {
  margin-top: 50px;
  border: none;
}

footer {
  padding: 20px 0;
  text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(208, 200, 198, 0), rgba(208, 200, 198, 0.75), rgba(208, 200, 198, 0));
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
