@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Domine:400);

/* 
 * green: #8da396
 * brown: 2c2825
 * lt brown: bdc0af
 * silver: bbbfbe
 * white: f6f5f1
 */
body {
	font-family: "Domine", sans-serif;
	background-color: #2c2825;
	color: #bdc0af;
}

a {
	color: #bbbfbe;
}
a:hover{ color: #888C8B; }

h1,h2,h3,h4,h5,h6 { 
	margin:15px 0;
	font-family: "Montserrat" sans-serif;
	font-weight: normal;
	line-height: 1.2em;
	color: inherit;
	text-rendering: optimizelegibility;
}

.date {
	float: left;
	position: relative;
	top: -15px;
	font-size: .8em;
	margin-bottom: 10px;
	font-family: "Montserrat" sans-serif;
	font-weight: normal;
	font-style: italic;
	color: #bbbfbe;
}

.social {
	float: right;
	position: relative;
	top: -15px;
	font-size: .8em;
	margin-bottom: 10px;
	font-family: "Montserrat" sans-serif;
	font-weight: normal;
	font-style: italic;
	color: #bbbfbe;
}

.social div {
	width: 24px;
	height: 16px;
	cursor: pointer;
	display: inline-block;
}

.twitter { background: url('../media/twitter.png') no-repeat center; }
.twitter:hover { background: url('../media/twitter_hover.png') no-repeat center; }
.facebook { background: url('../media/facebook.png') no-repeat center; }
.facebook:hover { background: url('../media/facebook_hover.png') no-repeat center; }
.gplus { background: url('../media/gplus.png') no-repeat center; }
.gplus:hover { background: url('../media/gplus_hover.png') no-repeat center; }

.navbar .brand {
	display: inline-block;
	color: #8da396;
	text-shadow: 0 1px 0 #222;
	margin: 0;
	padding: 20px 10px 10px 10px;
	float: none;
}

.navbar-inner{
	text-align: center;
	min-height:40px;
	padding-left:20px;
	padding-right:20px;
	background:none;
	border:none;
	border-radius:4px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	*zoom:1;
}
.navbar-inner:before,.navbar-inner:after{
	display:table;
	content:"";
	line-height:0;
}

.summary, .content {
	font-size: 1.1em;
	/*letter-spacing:.1em;*/
	line-height: 1.7em;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.navbar .nav {
  float:right;
}

/* posts index */
.post > h3.title {
  position:relative;
  padding-top:10px;
}
.post > h3.title span.date { 
  position:absolute;
  right:0;
  font-size:0.9em;
}
.post > .more {
  margin:10px 0;
  text-align:left;
}

/* post-full*/
.post-full .date {
  margin-bottom:20px;
  font-weight:bold;
}

/* tag_box */
.tag_box {
  list-style:none;
  margin:0;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box li i {
  opacity:0.9;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
	background: #888C8B;
	color:#bbbfbe;
	color:#f6f5f1;
  border-radius: 3px;
  text-decoration:none;
	border:1px solid #f6f5f1;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a:hover {
  background-color:#3c403f;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}
.center {
	text-align:center;
	margin-bottom: 30px;
}

p {
	margin-bottom: 20px;
}
code {
	color: #F1F2F3;
	background-color: #333;
	border: 1px solid black;
}

.pagination ul > li > a,
.pagination ul > li > span {
	background:none;
}
.pagination {
	margin: 20px auto;
	width: 270px;
}
