@import 'https://fonts.googleapis.com/css?family=Inconsolata';

.highlight {
    @extend .base07-background;
    padding: 7px 7px 7px 10px;
    border: 1px solid #ddd;
    -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
    box-shadow: 3px 3px rgba(0,0,0,0.1);
    margin: 20px 0 20px 0;
    overflow: scroll;
}

code {
    font-family:'Inconsolata', 'Bitstream Vera Sans Mono','Courier', monospace;
    font-size: 0.75em;
    @extend .base00;
    @extend .base07-background;
    line-heght: 0em;
}

.highlight .c { @extend .base03 } /* Comment */
.highlight .err { @extend .base08 } /* Error */
.highlight .g { @extend .base00 } /* Generic */
.highlight .k { @extend .base0E } /* Keyword */
.highlight .l { @extend .base0B } /* Literal */
.highlight .n { @extend .base0B } /* Name */
.highlight .o { @extend .base00 } /* Operator */
.highlight .x { @extend .base00 } /* Other */
.highlight .p { @extend .base00 } /* Punctuation */
.highlight .cm { @extend .base03 } /* Comment.Multiline */
.highlight .cp { @extend .base03 } /* Comment.Preproc */
.highlight .c1 { @extend .base03 } /* Comment.Single */
.highlight .cs { @extend .base03 } /* Comment.Special */
.highlight .gd { @extend .base03 } /* Generic.Deleted */
.highlight .ge { @extend .base0E; font-style: italic } /* Generic.Emph */
.highlight .gr { @extend .base08 } /* Generic.Error */
.highlight .gh { @extend .base0D } /* Generic.Heading */
.highlight .gi { @extend .base08 } /* Generic.Inserted */
.highlight .go { @extend .base08 } /* Generic.Output */
.highlight .gp { @extend .base0F } /* Generic.Prompt */
.highlight .gs { @extend .base0E; font-weight: bold } /* Generic.Strong */
.highlight .gu { @extend .base0D } /* Generic.Subheading */
.highlight .gt { @extend .base08 } /* Generic.Traceback */
.highlight .kc { @extend .base09 } /* Keyword.Constant */
.highlight .kd { @extend .base04 } /* Keyword.Declaration */
.highlight .kn { @extend .base0E } /* Keyword.Namespace */
.highlight .kp { @extend .base0E } /* Keyword.Pseudo */
.highlight .kr { @extend .base0E } /* Keyword.Reserved */
.highlight .kt { @extend .base0A } /* Keyword.Type */
.highlight .ld { @extend .base0B } /* Literal.Date */
.highlight .m { @extend .base0B } /* Literal.Number */
.highlight .s { @extend .base0B } /* Literal.String */
.highlight .na { @extend .base0D } /* Name.Attribute */
.highlight .nb { @extend .base0E } /* Name.Builtin */
.highlight .nc { @extend .base0A } /* Name.Class */
.highlight .no { @extend .base08 } /* Name.Constant */
.highlight .nd { @extend .base0E } /* Name.Decorator */
.highlight .ni { @extend .base0A } /* Name.Entity */
.highlight .ne { @extend .base0A } /* Name.Exception */
.highlight .nf { @extend .base0D } /* Name.Function */
.highlight .nl { @extend .base0D } /* Name.Label */
.highlight .nn { @extend .base0E } /* Name.Namespace */
.highlight .nx { @extend .base0A } /* Name.Other */
.highlight .py { @extend .base08 } /* Name.Property */
.highlight .nt { @extend .base08 } /* Name.Tag */
.highlight .nv { @extend .base08 } /* Name.Variable */
.highlight .ow { @extend .base08 } /* Operator.Word */
.highlight .w { @extend .base00 } /* Text.Whitespace */
.highlight .mf { @extend .base09 } /* Literal.Number.Float */
.highlight .mh { @extend .base09 } /* Literal.Number.Hex */
.highlight .mi { @extend .base09 } /* Literal.Number.Integer */
.highlight .mo { @extend .base09 } /* Literal.Number.Oct */
.highlight .sb { @extend .base09 } /* Literal.String.Backtick */
.highlight .sc { @extend .base09 } /* Literal.String.Char */
.highlight .sd { @extend .base0B } /* Literal.String.Doc */
.highlight .s2 { @extend .base09 } /* Literal.String.Double */
.highlight .se { @extend .base09 } /* Literal.String.Escape */
.highlight .sh { @extend .base0B } /* Literal.String.Heredoc */
.highlight .si { @extend .base0B } /* Literal.String.Interpol */
.highlight .sx { @extend .base0B } /* Literal.String.Other */
.highlight .sr { @extend .base0B } /* Literal.String.Regex */
.highlight .s1 { @extend .base0B } /* Literal.String.Single */
.highlight .ss { @extend .base0B } /* Literal.String.Symbol */
.highlight .bp { @extend .base08 } /* Name.Builtin.Pseudo */
.highlight .vc { @extend .base08 } /* Name.Variable.Class */
.highlight .vg { @extend .base08 } /* Name.Variable.Global */
.highlight .vi { @extend .base08 } /* Name.Variable.Instance */
.highlight .il { @extend .base09 } /* Literal.Number.Integer.Long */

